#contact-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    width: 100%;
    height: 1000px;
}

#box-contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 70%;
    height: 70%;
}

#box-contact-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: coral;
    width: 45%;
    height: 60%;
}

#box-contact-input
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: coral;
    width: 45%;
    height: 60%;
}

.line-1
{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 70%;
    height: 14%;
    margin-bottom: 5%;
}

.line-2
{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 70%;
    height: 14%;
    margin-bottom: 5%;
}

.line-3
{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 70%;
    height: 30%;
    margin-bottom: 5%;
}

.line-4
{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 11%;
    margin-bottom: 5%;
}

.line-title
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line-contact-1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.line-contact-2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    color: black;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    border-radius: 1px;
}

.line-contact-3
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    border-radius: 1px;
}

.line-contact-4
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 2%;
    border: solid 4px rgb(196, 24, 24);
    text-shadow: black 1px 1px 3px;
    border-radius: 10px;
}

.line-contact-4:hover
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 24, 24); 
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 2%;
    border: solid 4px rgb(196, 24, 24);
    text-shadow: black 1px 1px 3px;
    border-radius: 10px;
}

.contact-logo
{
    width: 300px;
    height: 100px;
}
