@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');

@keyframes slide {
    0%, 49.9% {
        background-image: url('../img/b.jpg');
        background-position: 0% 0;
    }
    50%, 99.9% {
        background-image: url('../img/b.jpg');
        background-position: 0% 0;
    }
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgb(196, 24, 24);
    }
    100% {
      box-shadow: 0 0 0 2em transparent;
    }
}

#diapo-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    width: 100%;
    height: 1100px;
}

#box-diapo {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slide 10s linear infinite;
}

#box-diapo-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-top: 12%;
    margin-left: 15%;
}

.info-1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 60%;
}

.info-2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
}

#title-info-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
    text-shadow: black 3px 3px 3px;
}

#title-info-2
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    width: 90%;
    height: 20%;
    margin-bottom: 4%;
    margin-top: 0;
}

.button-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: solid 6px rgb(196, 24, 24);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 60px;
    text-shadow: black 1px 1px 3px;
    transition: color 0.25s, border-color 0.25s;
}

.button-info:hover, .button-info:focus
{
    color: #fff;
    border-color: rgb(160, 44, 44);
    animation: pulse 1s;
}

.none
{
    text-decoration: none;
}
