html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

nav
{
    background-color: lightcoral;
    width: 100%;
    height: 100px;
}

footer
{
    background-color: lightcoral;
    width: 100%;
    height: 150px;
}

input
{
    margin: 0 10px;
}

#nav-section
{
    background-color: lightgreen;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left
{
    background-color: yellow;
    margin-right: 50%;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-right
{
    background-color: pink;
    width: 700px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-left
{
    background-color: aqua;
    width: 150px;
    height: 40px;
}

.nav-button-right
{
    background-color: aqua;
    margin-left: 25px;
    width: 200px;
    height: 40px;
}

#diapo-section
{
    background-color: lightskyblue;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-diapo {
    background-color: lightseagreen;
    width: 98%;
    height: 950px;
}

#contact-section
{
    background-color: lightskyblue;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-contact {
    background-color: lightgray;
    width: 40%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-contact-input
{
    background-color: coral;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-1
{
    background-color: antiquewhite;
    width: 50%;
    height: 11%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.line-2
{
    background-color: antiquewhite;
    width: 50%;
    height: 11%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.line-3
{
    background-color: antiquewhite;
    width: 50%;
    height: 30%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.line-contact-1
{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}

.line-contact-2
{
   background-color: aquamarine;
   display: flex;
   width: 100%;
   height: 100%;
   margin-bottom: 2%;
   color: black;
}

.line-contact-3
{
   background-color: cadetblue; 
   width: 100%;
   height: 100%;
   margin-bottom: 2%;
   color: black;
}

.line-contact-4
{
   background-color: antiquewhite; 
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   height: 10%;
   margin-bottom: 2%;
   color: black;
}
